.button {
  background-color: #a571d9;
  border: 1px solid #a571d9;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  min-height: 45px;
  outline: none;
  padding: 0.5rem 2rem;
}

.button:hover {
  background-color: #6204bf;
  border: 1px solid #6204bf;
}

.button:active {
  background-color: #3f0259;
  border: 1px solid #3f0259;
}
